body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
#container {
    flex: 1; /* Ensures the container takes up the remaining space */
}
form {
    margin-top: auto; /* Pushes the form to the bottom */
    padding: 30px;
}